body
{
background-color:#ffffff;

}
.main{
width: 100%;
height: 100%;
}
.container{
  width: 80%;
  margin:0 auto;
}
.hero{
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}
.hero img{
  width:880px;
  height: 600px;
  padding-top: 60px;
}
h4{
opacity: 70%;
}
p{
  font-size: 12px;
  padding-top:8px;
  /* opacity: 70%; */

}
